In [ ]:
#some string methods used in python course

CHANGING IN DIFFERENT CASES

In [1]:
vars="i am willington juma" #it capitalised the first word i to I
vars.capitalize()

'I am willington juma'

In [2]:
vars.upper()# its changes the entire variable to upper case

'I AM WILLINGTON JUMA'

In [6]:
var2=" I AM COMPUTER SCIENCE STUNDENT" #Everything in capital so we can change it to lower case
var2.lower()

' i am computer science stundent'

CHECK IF ITS A DECIMAL NUMBER

In [63]:
"123".isdecimal()

True

In [64]:
"12.4".isdecimal()

False

REPLACE A SUBSTRING WITH ANOTHER

In [24]:
name="willington "
name.replace('w','s')

'sillington juma'

In [25]:
name2="willington juma"
name.replace('willington','samrato de activator')

'samrato de activator juma'

In [36]:
nas="i am called juma willington"
nas.replace(' ','-')

'i-am-called-juma-willington'

SPLITING THE STRINGS

In [37]:
nas.split()

['i', 'am', 'called', 'juma', 'willington']

AVOIDING NEW PRINTS IN PGOGRAMS

In [26]:
print("wilington love python language ")
print("this is because its easy to learn")

wilington love python language
this is because its easy to learn

In [34]:
#modifying the code above to aoid new line print
print("wilington love python language ",end= '')
print("this is because its easy to learn")

wilington love python language this is because its easy to learn

CONCADENATE  USING PYTHON

In [38]:
a="i love coding using python"
b="This is because python is easy language "
c=a+b        #concadinating using + sign
print(c)

i love coding using pythonThis is because python is easy language

In [42]:
num1="5"
num2="8"
final_num=num1+num2
print(final_num)

58

FORMATTING STRINGS

In [52]:
a='28'
b='ice ceam'
print(f"bought {a} items of {b}")# formatting string f is used

bought 28 items of ice ceam

USING INPUT TYPES

In [54]:
name=input("what is your name ?")
print(f"hi  {name} you are the best in programming ")

hi  juma you are the best in programming

COUNT FEATURE

In [65]:
a="fool","booo","fool","book","fool"
a.count("fool")

3

In [66]:
a.count("book")

1