In [4]:
a=2
b=4.7
c="my name is juma"
print(type(a))

<class 'int'>

In [5]:
print(type(b))

<class 'float'>

In [6]:
print(type(c))

<class 'str'>

In [7]:
type(4)

int

TYPE OF CONVERSION FROM DIFFENTS TYPES

In [8]:
a=3
type(a)

int

In [9]:
a=str(a)
type(a)

str

In [10]:
a=float(a)
type(a)

float

In [11]:
print(a)

3.0

In [12]:
name=input("what is your name")
print(f" hey jambo {name}")
birth_year=input("what is your birth year")
print(f"your are born in {birth_year}")

 hey jambo juma
your are born on 2004

CONVERTING THE BIRTH year AND THE YEAR

In [15]:
birth_year=int(birth_year)

In [17]:
print(f"you are {2024-birth_year} years old")

you are 20 years old